<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>dtm</title>
</head>

<body>
    <a href="login.html" class="container backlink">
        <img class="backlink__row" src="../Img/backrow.png" alt="">
        Orqaga
    </a>

    <form id="login-form" class="login">
        <h2 class="login__title">
            Royhatdan otish
        </h2>

        <input autocomplete="on" id="contactInput" type="text" placeholder="Email or Phone" class="login__name">

        <input autocomplete="on" id="passwordInput" type="password" placeholder="Password" class="login__name">


        <button class="login__submit" type="submit">Royhatdan otish</button>

        <a href="register.html" class="login__link">Royhatdan otmaganmisiz?</a>
    </form>
</body>
<script src="../js/login.js"></script>

</html>