<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>dtm</title>
</head>

<body>

    <a href="login.html" class="container backlink">
        <img class="backlink__row" src="../Img/backrow.png" alt="">
        Orqaga
    </a>

    <section class="container main">
        <h2 class="main__title">Assosiy Imtihonga hush kelibsiz</h2>
        <div class="steps">
            <a class="steps__link active__step">1</a>
            <span class="steps__line"></span>
            <a class="steps__link active__step">2</a>
            <span class="steps__line"></span>
            <a class="steps__link">3</a>
        </div>

        <div class="subject institut">
            <div class="institut__box">
                <label class="subject__title" for="firstSubject">Yonalish tanlash</label>
                <select id="otm" class="subject__select">
                    <option class="select__title "></option>
                    <option class="subject__select1" value="1"></option>
                    <option class="subject__select1" value="5"></option>
                </select>
            </div>

            <div class="institut__box">
                <div class="fakultets" id="selectedList">
                    <div id="selectedBox" class="fakultets__box">
                        <button id="delayBtn" class="delayBtn"><img src="../Img/otmen.png" alt=""></button>
                    </div>
                </div>

                <div class="otm">
                    <h2 id="otmName" class="otm__name"></h2>
                    <h3 id="otmRegion" class="otm__city"> </h3>
                    <div class="otm__box">
                        <div class="grant">
                            <h4 class="grant__name">Grant:</h4>
                            <h4 id="grantCount" class="grant__name grant__joy">0</h4>
                            <h4 id="grantScore" class="grant__name">0</h4>
                        </div>

                        <div class="grant kontrakt">
                            <h4 class="grant__name">Kontrakt:</h4>
                            <h4 id="contractCount" class="grant__name grant__joy">0</h4>
                            <h4 id="contractScore" class="grant__name">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a id="nextBtn" class="main__next"> Next </a>
    </section>

    <template id="selectedTemplate">
        <div id="selectedBox" class="fakultets__box">
            Moliya <button id="delayBtn" class="delayBtn"><img src="../Img/otmen.png" alt=""></button>
        </div>
    </template>

</body>
<script src="../js/universities.js"> </script>

</html>